---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Widget } from '~/types';

interface Props extends Widget {
  image?: string;
}

const {
  image = '',
  bg = await Astro.slots.render('bg'),
} = Astro.props as Announcement;
---

<WidgetWrapper>
  <div
    class="text-muted text-s hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
  >
    <a
      target="_blank"
      rel="noopener"
      class="float-right rtl:float-left"
      title="If you like AstroWind, give us a star."
      href="https://wa.me/50249177756?text=Estoy%20interesado%20en%20el%20servicio%20de%20cable%20"
    >
      <img
        src={image}
        alt="Servicio de Cable Q100 al mes"
      />
    </a>
  </div>
</WidgetWrapper>
