---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Quienes Somos"
  >
    <Fragment slot="title">
      Somos una empresa líder <br />
      <span class="text-accent dark:text-white highlight"> en telecomunicaciones</span>
    </Fragment>

    <Fragment slot="subtitle">
      Somos una empresa especializada en proporcionar servicios de televisión e internet de alta velocidad, confiables y asequibles. Nuestra misión es superar las expectativas de nuestros clientes
al proporcionar soluciones de telecomunicaciones de clase mundial con un
servicio al cliente excepcional.
    </Fragment>
  </Hero>

  <Hero2
    image={{ src: '~/assets/images/heroR.png', alt: 'Cosmovision Hero Image'}}
  >
    <Fragment slot='title'>
      12 AÑOS DE <span class="text-accent">EXCELENCIA</span> EN SERVICIOS DE TELECOMUNICACIONES
    </Fragment>
  </Hero2>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Nuestros Servicios"
    subtitle="Ofrecemos una amplia gama de servicios de telecomunicaciones diseñados para transformar la manera en la que te conectas en el mundo digital. Desde una conectividad de alta velocidad hasta soluciones empresariales, estamos aquí para llevar tu experiencia de comunicación al siguiente nivel."
    items={[
      {
        title: 'Servicio de Internet',
        description:
          'Internet de alta velocidad confiable y asequible para satisfacer las necesidades de hogares y empresas.',
        icon: 'tabler:router',
      },
      {
        title: 'Televisión',
        description:
          'Con una oferta diversa de más de 90 canales y una personalización y flexibilidad a través de IPTV.',
        icon: 'tabler:device-tv',
      },
      {
        title: 'Transporte de Datos',
        description:
          'Facilitamos la comunicación entre empresas con soluciones de transporte de datos de alta velocidad y confiabilidad.',
        icon: 'tabler:layers-linked',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Acuerdo de Nivel de Servicio"
    subtitle="Nuestro Acuerdo de Nivel de Servicio (SLA) es una garantía de nuestro compromiso con la excelencia en el servicio. Establecemos estándares rigurosos para asegurar que nuestros clientes experimenten la más alta calidad en conectividad, respaldada por un soporte técnico excepcional"
    isReversed={true}
    items={[
      {
        title: 'SLA Área Metropolitana',
        description: 'Nuestro Acuerdo de Nivel de Servicio (SLA) garantiza un tiempo de actividad del 99%, asegurando que la conectividad para nuestros clientes en el área metropolitana sea excepcionalmente confiable',
        icon: 'tabler:percentage',
      },
      {
        title: 'Latencia',
        description:
          'Nos enorgullece ofrecer una experiencia de internet excepcional con una latencia que no supera las 50 milésimas de segundo',
        icon: 'tabler:home-bolt',
      },
      {
        title: 'QoS',
        description:
          'Mantenemos un promedio de satisfacción del 95% entre nuestros usuarios, respaldando nuestra búsqueda constante de excelencia en la calidad de servicio.',
        icon: 'tabler:comet',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Contáctanos"
    items={[
      {
        title: 'Villa Nueva',
        description: 'Boulevard principal Terrezas, Peronia 502-Villa Nueva, Guatemala',
        icon: 'tabler:map-pin',
      },
      {
        title: 'San Lucas',
        description: 'Local 107 Centro Comercial San Lucas',
        icon: 'tabler:map-pin',
      },
      {
        title: 'Correo',
        description: 'info@cosmovisiongt.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Teléfono',
        description: '+502 2375 2311',
        icon: 'tabler:phone',
      }
    ]}
  />
</Layout>
