---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ChannelGrid from '~/components/ui/ChannelGrid.astro';


const metadata = {
  title: 'Grilla de Canales ',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="TV CABLE"
    subtitle="Explora nuestros canales de entretenimiento en nuestro servicio."
  >
    <Fragment slot="title">
      GRILLA DE 
      <span class="text-accent-orange dark:text-white highlight">CANALES </span>
    </Fragment>
  </HeroText>

  <!-- Channel Grid Widget ************** -->

  <ChannelGrid />


</Layout>
