---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero2.astro';
import Brands from '~/components/widgets/Brands.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Cosmovision — Internet y Cable, todo conectado',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Explora planes',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: '',
      },
      { text: 'Quienes Somos', href: '#features' },
    ]}
    image={{ src: '~/assets/images/heroC.png', alt: 'Cosmovision Hero Image' }}
  >
    <Fragment slot="title">
      Internet y Cable a la
      <span class="text-accent "> Velocidad</span> de la luz
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Descubre la velocidad supersónica en cada conexión con nuestros servicios de 
        internet y cable. Navega, juega y comunícate sin límites.
        </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Cosmovision: Production-ready.</span>
      Vive una experiencia digital sin precedentes, perfecta para toda la familia y amigos que 
      quieren más de cada momento en línea.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <Note />

  <!-- Brands Widget ******************* -->

  <Brands
    title="Nuestros Socios Cosmicos"
    subtitle="Nuestro servicio esta impulsado y cuenta con la confianza de estos lideres estelares."
    images={[
      {
      src: 'src/assets/images/ispLogo.png',
      alt: 'ISP Logo',
      },
      {
        src: 'src/assets/images/nablaLogo.png',
        alt: 'Nabla Logo'
      },
      {
        src: 'src/assets/images/cooitzaLogob.png',
        alt: 'Cooitza Logo'
      },
      {
        src: 'src/assets/images/sisteguaLogo.png',
        alt: 'Sistegua Logo'
      },
      {
        src: 'src/assets/images/aseinfoLogo.png',
        alt: 'Aseinfo Logo'
      }
      
    ]}
  >
  </Brands>

  <!-- Call to action Cable ********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'CONTRATAR',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: '',
      },
    ]}
  >
    <Fragment slot="title">
      Explora un universo
      <br class="block sm:hidden" />
      de entretenimiento 
      <br class="block sm:hidden" /> con más de 90 canales
    </Fragment>

    <Fragment slot="subtitle">
      Contrata tu servicio de cable por Q100 al mes
    </Fragment>
  </CallToAction>
  

  <!-- Features Widget *************** -->

  <Features
    id="servicios"
    tagline="Nuestros Servicios"
    title="Conexiones que trascienden"
    subtitle="Nuestra misión es proporcionar una experiencia sin igual, donde cada servicio es una puesta a mundos de posibilidades."
    items={[
      {
        title: 'Internet',
        description:
          'Internet de alta velocidad, confiable y asequible para satisfacer las demandas del mundo digital actual.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Televisión',
        description:
          'Con más de 90 canales disponibles, nuestra oferta de televisión por cable es como un telescopio que te acerca a galaxias de contenido diverso.',
        icon: 'tabler:components',
      },
      {
        title: 'Paquetes combinados',
        description:
          'Nuestros paquetes de Internet + Cable se alinean con las necesidades...',
        icon: 'tabler:list-check',
      },
      {
        title: 'Transporte de datos',
        description:
          'Facilitamos la comunicación entre empresas con soluciones de transporte de datos de alta velocidad y confiabilidad.',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Descubre por qué somos la mejor opción"
    items={[
      {
        title: 'Conectividad de alta velocidad',
        description:
          'Nuestra red de fibra optica y microondas garantiza velocidades de internet excepcionales para una experiencia de navegación sin igual.',
      },
      {
        title: 'Fiabilidad ininterrumpida',
        description:
          'Reespaldamos nuestra infraestructura con sistemas de redundancia y monitoreo constante para mantener una conexión confiable en todo momento.',
      },
      {
        title: 'Soporte técnico especializado',
        description:
          'Nuestro equipo de expertos está disponible para brindar asistencia inmediata en caso de cualquier problema.',
      },
    ]}
    image={{
      src: '~/assets/images/bestO.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Conéctate con el Futuro</h3>
       Con una conexión inspirada en la velocidad y la vastedad del cosmos
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Contactanos"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Escribenos',
      href: '/',
    }}
    items={[
      {
        title: 'Llamanos',
        description: '2375-2311',
        icon: 'tabler:headset',
      },
      {
        title: 'Escribenos',
        description: '4958-5443',
        icon: 'tabler:brand-whatsapp',
      },
      {
        title: 'Siguenos',
        description: 'Cosmovision',
        icon: 'tabler:brand-facebook',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
