---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Tabs from '~/components/widgets/Tabs.astro';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="Cable + Internet"
    subtitle="Explora nuestros planes de cable + internet, diseñados para adaptarse a cada necesidad y estilo de vida."
  >
    <Fragment slot="title">
      Selecciona el plan 
      <span class="text-accent-blue dark:text-white highlight"> perfecto para ti </span>
    </Fragment>
  </HeroText>

  <!-- Tabs Widget ******************* -->
  <Tabs>
    <Fragment slot='tab-1'>TV + Internet</Fragment>
    <Fragment slot='tab-2'>Internet</Fragment>

    <Prices
      slot='panel-1'
      prices={[
        {
          title: 'Conexión Fibra Optica',
          subtitle: 'PLAN MERCURIO',
          megas: 30,
          period: 'MEGAS',
          items: [
            { description: 'Ideal para navegación basica', },
            { description: 'Aenean ac nunc dolor tristique', },
            { description: 'Cras scelerisque accumsan lib', },
            { description: 'In hac habitasse', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Q219 por mes',
            icon: 'tabler:circle-arrow-right',
            href: '#',
          },
        },
        {
          title: 'Conexión Fibra Optica',
          subtitle: 'PLAN SATURNO',
          megas: 50,
          period: 'MEGAS',
          items: [
            { description: 'Proin vel laoreet', },
            { description: 'Ut efficitur habitasse egestas', },
            { description: 'Volutpat hac curabitur', },
            { description: 'Pellentesque blandit ut nibh', },
            { description: 'Donec fringilla sem', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Q249 por mes',
            href: '#',
            icon: 'tabler:circle-arrow-right'
          },
          hasRibbon: true,
          ribbonTitle: 'popular',
        },
        {
          title: 'Conexión Fibra Optica',
          subtitle: 'PLAN VENUS',
          megas: 100,
          period: 'MEGAS',
          items: [
            { description: 'Curabitur suscipit risus', },
            { description: 'Aliquam habitasse malesuada', },
            { description: 'Suspendisse sit amet blandit', },
            { description: 'Suspendisse auctor blandit dui', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Q299 por mes',
            href: '#',
            icon: 'tabler:circle-arrow-right'
          },
        },
      ]}
    />

    <Prices
      slot='panel-2'
      prices={[
        {
          title: 'Conexión Fibra Optica',
          subtitle: 'PLAN MERCURIO',
          megas: 10,
          period: 'MEGAS',
          items: [
            { description: 'Ideal para navegación basica', },
            { description: 'Aenean ac nunc dolor tristique', },
            { description: 'Cras scelerisque accumsan lib', },
            { description: 'In hac habitasse', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Q219/mes',
            icon: 'tabler:circle-arrow-right',
            href: '#',
          },
        },
        {
          title: 'Conexión Fibra Optica',
          subtitle: 'PLAN SATURNO',
          megas: 15,
          period: 'MEGAS',
          items: [
            { description: 'Proin vel laoreet', },
            { description: 'Ut efficitur habitasse egestas', },
            { description: 'Volutpat hac curabitur', },
            { description: 'Pellentesque blandit ut nibh', },
            { description: 'Donec fringilla sem', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Q249/mes',
            href: '#',
            icon: 'tabler:circle-arrow-right'
          },
          hasRibbon: true,
          ribbonTitle: 'popular',
        },
        {
          title: 'Conexión Fibra Optica',
          subtitle: 'PLAN VENUS',
          megas: 20,
          period: 'MEGAS',
          items: [
            { description: 'Curabitur suscipit risus', },
            { description: 'Aliquam habitasse malesuada', },
            { description: 'Suspendisse sit amet blandit', },
            { description: 'Suspendisse auctor blandit dui', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Q299/mes',
            href: '#',
            icon: 'tabler:circle-arrow-right'
          },
        },
      ]}
    />

  </Tabs>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Price-related features"
    subtitle="Discover the advantages of choosing our plans"
    columns={2}
    items={[
      {
        title: 'Tiered Pricing Plans',
        description: 'Choose from a range of pricing plans designed to accommodate different budgets and requirements.',
        icon: 'tabler:stairs',
      },
      {
        title: 'Transparent Pricing',
        description: 'Clearly displayed pricing details for each plan, with no hidden costs or unexpected charges.',
        icon: 'tabler:flip-vertical',
      },
      {
        title: 'Secure Payment Methods',
        description: 'Secure payment gateways to protect your financial information during transactions.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Instant Access',
        description: `Immediate access to your chosen plan's features and templates upon subscription.`,
        icon: 'tabler:accessible',
      },
      {
        title: 'Upgrade Value',
        description: 'Upgrade to higher-tier plans to unlock more features and benefits for an enhanced experience.',
        icon: 'tabler:chevrons-up',
      },
      {
        title: '24H support',
        description: 'Questions answered via live chat, email or phone, every calendar day.',
        icon: 'tabler:headset',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Ready to boost your projects?"
    subtitle="Join our community of satisfied customers who have transformed their work with our templates."
    actions={[
      {
        variant: 'primary',
        text: 'Solicitar now',
        href: '/',
      },
    ]}
  />
</Layout>
