---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Tabs from '~/components/widgets/Tabs.astro';

const metadata = {
  title: 'Precios Internet',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="Servicio Internet"
    subtitle="Explora nuestros planes diseñados para adaptarse a cada necesidad y estilo de vida."
  >
    <Fragment slot="title">
      Selecciona el plan 
      <span class="text-accent-orange dark:text-white highlight"> perfecto para ti </span>
    </Fragment>
  </HeroText>

  <!-- Tabs Widget ******************* -->
  <Tabs>
    <Fragment slot='tab-1'>TV + Internet</Fragment>
    <Fragment slot='tab-2'>Internet</Fragment>

    <Prices
      slot='panel-1'
      cols="3"
      prices={[
        {
          title: 'Conexión por Fibra Óptica',
          subtitle: 'PLAN BASICO',
          megas: 80,
          price: 199,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Ideal para familias y teletrabajadores', },
            { description: 'Sin costo de instalación', },
            { description: 'Sin contrato', },
            { description: 'Incluye 3 televisores*', },
          ],
          hasRibbon: true,
          ribbonTitle: 'Popular',
        },
        {
          title: 'Conexión por Fibra Óptica',
          subtitle: 'PLAN FAMILIAR',
          megas: 125,
          price: 249,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Ideal para hogares con múltiples dispositivos conectados', },
            { description: 'Sin costo de instalación', },
            { description: 'Sin contrato', },
            { description: 'Incluye 3 televisores*', },
          ],
          
        },
        {
          title: 'Conexción por Fibra Óptica',
          subtitle: 'PLAN GAMER',
          megas: 200,
          price: 299,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Ideal para gamers u hogares con múltiples dispositivos', },
            { description: 'Sin costo de instalación', },
            { description: 'Sin contrato', },
            { description: 'Incluye 3 televisores*', },
          ],
        },
      ]}
    />

    <Prices
      slot='panel-2'
      cols="3"
      prices={[
        {
          title: 'Conexión por fibra óptica',
          subtitle: 'PLAN BÁSICO',
          megas: 80,
          capacity: 'MEGAS',
          price: 180,
          period: ' /al mes',
          items: [
            { description: 'Ideal para navegación basica', },
            { description: 'Sin costo de instalación', },
            { description: 'Sin contrato', },
          ],
          hasRibbon: true,
          ribbonTitle: 'popular',
        },
        {
          title: 'Conexión por fibra óptica',
          subtitle: 'PLAN FAMILIAR',
          megas: 125,
          price: 230,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Ideal para familias y teletrabajadores', },
            { description: 'Sin costo de instalación', },
            { description: 'Sin contrato', },
          ],
        },
        {
          title: 'Conexión por fibra óptica',
          subtitle: 'PLAN AVANZADO',
          megas: 200,
          capacity: 'MEGAS',
          price: 280,
          period: ' /al mes',
          items: [
            { description: 'Ideal para hogares con múltiples dispositivos conectados', },
            { description: 'Sin costo de instalación', },
            { description: 'Sin contrato', },
          ],
        },
      ]}
    />

  </Tabs>

  <section class="bg-blue-50 dark:bg-slate-800 not-prose">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
      Precios pueden variar por zona. Cobertura sujeta a disponibilida técnica. <b> Sin contrato obligatorio. </b>
     Aplican términos y condiciones. Velocidad puede variar según condiciones técnicas.
    </div>
  </section>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Conéctate al Universo"
    subtitle="Descubre las ventajes al contratar nuestros planes "
    columns={2}
    items={[
      {
        title: 'Velocidad ',
        description: 'Navega a velocidades que desafían las estrellas. Perfecto para streaming, juegos, y mucho más, sin interrupciones.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Confiabilidad ',
        description: ' Con nuestra tecnología avanzada, aseguramos una conexión estable que está contigo en todo momento.',
        icon: 'tabler:stars-filled',
      },
      {
        title: 'Soporte Técnico',
        description: 'Nuestros expertos están siempre listos para ayudarte, garantizando que tu experiencia sea siempre óptima.',
        icon: 'tabler:tools',
      },
      {
        title: 'Planes Flexibles',
        description: `Adaptamos nuestras ofertas a tus necesidades. Con nosotros, tienes el poder de elegir y personalizar tu experiencia en línea.`,
        icon: 'tabler:router',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

   <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    items={[
      {
        title: '¿Cuándo debo de pagar mi servicio?',
        description:
          'Entre el 1 y el 5 de cada mes',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Qué pasa si pago después del 5?',
        description: 'Sí, tu servicio se suspendera el 10 (o, por motivos operativos, a más tardar el 20). No se aplican recargos por mora, pero permanecerás sin servicio hasta pagar tu saldo completo pendiente.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Cómo pido reconexión si me cortaron?',
        description:
          'Cancela el saldo vencido + tarifa de reconexión. El restablecimiento toma 3–5 días hábiles tras confirmar el pago.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Qué pasa con el equipo si cancelo el servicio?',
        description: `Debes devolver la ONU/router y cables en buen estado. Si no lo haces, se factura el valor comercial.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Puedo cambiar de plan?',
        description: `Puedes cambiar a planes de igual o mayor precio en cualquier momento, sujeto a viabilidad técnica.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Qué pasa si quiero cambiar de dirección?',
        description: `Sí se puede. Debes trasladar tu propio router/ONU al nuevo domicilio y pagar una tarifa de Q 50 por el servicio de cambio de dirección. `,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>



</Layout>
