---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Tabs from '~/components/widgets/Tabs.astro';

const metadata = {
  title: 'Precios Milpas Altas',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="Milpas Altas"
    subtitle="Explora nuestros planes diseñados para adaptarse a cada necesidad y estilo de vida."
  >
    <Fragment slot="title">
      Selecciona el plan 
      <span class="text-accent-blue dark:text-white highlight"> perfecto para ti </span>
    </Fragment>
  </HeroText>

  <!-- Tabs Widget ******************* -->
  <Tabs>
    <Fragment slot='tab-1'>TV + Internet</Fragment>
    <Fragment slot='tab-2'>Internet</Fragment>

    <Prices
      slot='panel-1'
      cols="4"
      prices={[
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN MARTE',
          megas: 10,
          price: 150,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Ideal para navegación basica', },
            { description: 'Sin costo de instalación', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            href: '#',
          },
          
        },
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN MERCURIO',
          megas: 25,
          price: 199,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Ideal para navegación basica', },
            { description: 'Sin costo de instalación', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            href: '#',
          },
          
        },
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN SATURNO',
          megas: 35,
          price: 249,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Ideal para familias y teletrabajadores', },
            { description: 'Sin costo de instalación', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            href: '#',
          },
          hasRibbon: true,
          ribbonTitle: 'Popular',
        },
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN VENUS',
          megas: 50,
          price: 299,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Ideal para gamers u hogares con múltiples dispositivos', },
            { description: 'Sin costo de instalación', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            href: '#',
          },
        },
      ]}
    />

    <Prices
      slot='panel-2'
      cols="3"
      prices={[
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN MERCURIO',
          megas: 15,
          capacity: 'MEGAS',
          price: 150,
          period: ' /al mes',
          items: [
            { description: 'Ideal para navegación basica', },
            { description: 'Sin costo de instalación', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            icon: 'tabler:circle-arrow-right',
            href: '#',
          },
        },
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN SATURNO',
          megas: 20,
          price: 175,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Ideal para familias y teletrabajadores', },
            { description: 'Sin costo de instalación', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            href: '#',
            icon: 'tabler:circle-arrow-right'
          },
          hasRibbon: true,
          ribbonTitle: 'popular',
        },
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN VENUS',
          megas: 55,
          capacity: 'MEGAS',
          price: 275,
          period: ' /al mes',
          items: [
            { description: 'Ideal para hogares con múltiples dispositivos conectados', },
            { description: 'Sin costo de instalación', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            href: '#',
            icon: 'tabler:circle-arrow-right'
          },
        },
      ]}
    />

  </Tabs>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Conéctate al Universo"
    subtitle="Descubre las ventajes al contratar nuestros planes "
    columns={2}
    items={[
      {
        title: 'Velocidad Luz',
        description: 'Navega a velocidades que desafían las estrellas. Perfecto para streaming, juegos, y mucho más, sin interrupciones.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Confiabilidad Galáctica',
        description: ' Con nuestra tecnología avanzada, aseguramos una conexión estable que está contigo en todo momento, como la constante luz de las estrellas.',
        icon: 'tabler:stars-filled',
      },
      {
        title: 'Soporte Tecnico',
        description: 'Nuestros expertos están siempre listos para ayudarte, en cualquier momento y lugar, garantizando que tu experiencia sea siempre óptima.',
        icon: 'tabler:tools',
      },
      {
        title: 'Planes Flexibles',
        description: `Adaptamos nuestras ofertas a tus necesidades. Con nosotros, tienes el poder de elegir y personalizar tu experiencia en línea.`,
        icon: 'tabler:router',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />


</Layout>
