---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Tabs from '~/components/widgets/Tabs.astro';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="Cable + Internet"
    subtitle="Explora nuestros planes de cable + internet, diseñados para adaptarse a cada necesidad y estilo de vida."
  >
    <Fragment slot="title">
      Selecciona el plan 
      <span class="text-accent-blue dark:text-white highlight"> perfecto para ti </span>
    </Fragment>
  </HeroText>

  <!-- Tabs Widget ******************* -->
  <Tabs>
    <Fragment slot='tab-1'>TV + Internet</Fragment>
    <Fragment slot='tab-2'>Internet</Fragment>

    <Prices
      slot='panel-1'
      prices={[
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN MARTE',
          megas: 25,
          price: 199,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Ideal para navegación basica', },
            { description: 'Aenean ac nunc dolor tristique', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            href: '#',
          },
          
        },
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN MERCURIO',
          megas: 30,
          price: 219,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Ideal para navegación basica', },
            { description: 'Aenean ac nunc dolor tristique', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            href: '#',
          },
          
        },
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN SATURNO',
          megas: 50,
          price: 249,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Proin vel laoreet', },
            { description: 'Ut efficitur habitasse egestas', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            href: '#',
          },
          hasRibbon: true,
          ribbonTitle: 'Popular',
        },
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN VENUS',
          megas: 100,
          price: 299,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Curabitur suscipit risus', },
            { description: 'Aliquam habitasse malesuada', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            href: '#',
          },
        },
      ]}
    />

    <Prices
      slot='panel-2'
      prices={[
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN MERCURIO',
          megas: 35,
          capacity: 'MEGAS',
          price: 190,
          period: ' /al mes',
          items: [
            { description: 'Ideal para navegación basica', },
            { description: 'Aenean ac nunc dolor tristique', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            icon: 'tabler:circle-arrow-right',
            href: '#',
          },
        },
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN SATURNO',
          megas: 60,
          price: 230,
          capacity: 'MEGAS',
          period: ' /al mes',
          items: [
            { description: 'Proin vel laoreet', },
            { description: 'Ut efficitur habitasse egestas', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            href: '#',
            icon: 'tabler:circle-arrow-right'
          },
          hasRibbon: true,
          ribbonTitle: 'popular',
        },
        {
          title: 'Fibra Optica',
          subtitle: 'PLAN VENUS',
          megas: 100,
          capacity: 'MEGAS',
          price: 249,
          period: ' /al mes',
          items: [
            { description: 'Curabitur suscipit risus', },
            { description: 'Aliquam habitasse malesuada', },
          ],
          callToAction: {
            target: '_blank',
            text: 'Solicitar Plan',
            href: '#',
            icon: 'tabler:circle-arrow-right'
          },
        },
      ]}
    />

  </Tabs>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Conéctate al Universo"
    subtitle="Descubre las ventajes al contratar nuestros planes "
    columns={2}
    items={[
      {
        title: 'Velocidad Luz',
        description: 'Navega a velocidades que desafían las estrellas. Perfecto para streaming, juegos, y mucho más, sin interrupciones.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Confiabilidad Galáctica',
        description: ' Con nuestra tecnología avanzada, aseguramos una conexión estable que está contigo en todo momento, como la constante luz de las estrellas.',
        icon: 'tabler:stars-filled',
      },
      {
        title: 'Soporte Tecnico',
        description: 'Nuestros expertos están siempre listos para ayudarte, en cualquier momento y lugar, garantizando que tu experiencia sea siempre óptima.',
        icon: 'tabler:tools',
      },
      {
        title: 'Planes Flexibles',
        description: `Adaptamos nuestras ofertas a tus necesidades. Con nosotros, tienes el poder de elegir y personalizar tu experiencia en línea.`,
        icon: 'tabler:router',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Ready to boost your projects?"
    subtitle="Join our community of satisfied customers who have transformed their work with our templates."
    actions={[
      {
        variant: 'primary',
        text: 'Solicitar now',
        href: '/',
      },
    ]}
  />
</Layout>
